<h3>Add dealerships</h3>

<p>
  Add a dealership here:
</p>

<form action="/dealerships" method="post">
  <label for="name">Name of dealership:</label>
  <input type="text" name="name" id="name">
  <button type="submit">Add dealership</button>
</form>
