<h3>This is a list of dealerships:</h3>

<ul>
  <% @dealerships.each() do |dealership| %>
  <li><a href="/dealership/<%= dealership.id() %>"><%= dealership.name() %></a></li>
  <% end %>
</ul>


<a href="/dealerships/new">Add a new dealership</a>
<br>
<a href="/">Home</a>
