<h1>Add you vehicle to the list:</h1>

<form action="/vehicles" method="post">
  <label for="make">Make:</label>
  <input type="text" name="make" id="make">

  <label for="model">Model:</label>
  <input type="text" name="model" id="model">

  <label for="year">Year:</label>
  <input type="text" name="year" id="year">

  <button type="submit">Add Vehicle</button>
</form>
